.card-white {
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  padding: 8px;
  width: 300px;  /*Give the card a width*/
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;  /*Fit the parent div*/
}

.card-white .list-inline {
  color: #B0B0B0;
  text-align: right;
  padding-top: 8px;
}

.card-white .btn {
  opacity: 0;
  transition: .3s;
}

.card-white:hover .btn {
  opacity: 1;
}





